form {
    width: 100%;

    .add-task {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        input {
            width: 20rem;
            max-width: 20rem;
            min-width: 5rem;
            padding: 0.45rem 0.5rem;
            border-radius: 5px;
            border: none;
            background-color: rgb(100, 100, 100);
        }

        .add-task-btn {
            white-space: nowrap;
        }
    }
}
