table {
    margin: 1.5rem auto 0 auto;

    td,
    th {
        padding: 0.5rem 1rem;
    }

    thead {
        text-align: center;
    }

    tbody {
        tr {
            .completed {
                text-align: center;
            }
        }
    }
}
