table {
    width: 100%;

    margin: 1.5rem auto 0 auto;

    td,
    th {
        padding: 0.5rem 1rem;
    }

    thead {
        text-align: center;

        :first-child {
            width: 5rem;
        }
    }

    tbody {
        tr {
            &.completed {
                text-decoration: line-through;
            }

            :first-child {
                text-align: center;
            }
        }
    }
}
